name: Release
on:
  push:
    tags:
      - "v*"
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 16
          cache: yarn
      - run: yarn install --frozen-lockfile
      - run: yarn tsc
      - run: yarn build:production
      - name: create release branch and bump version
        run: |
          BRANCH="release/${{ github.ref_name }}"
          git config --local user.email 'gabe.debortoli@gmail.com'
          git config --local user.name 'yKdf'
          git checkout -b "$BRANCH"
          git push -u origin "$BRANCH"
          sed -i "s/'canary'/'${{ github.ref_name }}'/" config/app.php
          git add config/app.php
          git commit -m 'ci(release): bump version'
          git push
      - name: create release archive
        run: |
          rm -rf node_modules tests CONTRIBUTING.md flake.lock flake.nix phpunit.xml shell.nix
          tar -czf panel.tar.gz * .editorconfig .env.example .eslintignore .eslintrc.js .gitignore .prettierrc.json
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          draft: true
          prerelease: ${{ contains(github.ref_name, 'rc') || contains(github.ref_name, 'beta') || contains(github.ref_name, 'alpha') }}
          body_path: ./RELEASE_CHANGELOG
          files: |
            panel.tar.gz
